In [148]:
!pip install PyMySQL
!pip install mysql-connector-python
!pip install sqlalchemy
!pip install mysqlclient

import os
import json
import pprint
import requests
import requests.exceptions
import pymysql
import warnings
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DECIMAL, Index, ForeignKey

Requirement already satisfied: PyMySQL in /opt/anaconda3/lib/python3.11/site-packages (1.1.0)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.11/site-packages (8.3.0)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: mysqlclient in /opt/anaconda3/lib/python3.11/site-packages (2.2.4)

In [263]:
#Connect to locally hosted on MySQL Workbench
mysql_url = 'mysql://root:26750@localhost:3306/'
engine = create_engine(mysql_url)
metadata = MetaData()

#Create the database query
db_query1 = "DROP DATABASE IF EXISTS ds_project;"
db_query2 = "CREATE DATABASE ds_project;"

try:
    with engine.connect() as conn:
        conn.execute(text(db_query1))
        conn.execute(text(db_query2))
        conn.commit()
except:
    print("something happened when connecting to the database. please make sure your url is correct that your queries are correctly structured.")
        

engine.dispose()

In [264]:
try:
    mysql_url = 'mysql://root:26750@localhost:3306/ds_project'
    engine = create_engine(mysql_url)
except:
    print("something went wrong, ensure your sql url is correct")

#Create the tables
try:
    currency = Table(
        'currency', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('name', String(100), nullable=False),
        Column('acronym', String(3), nullable=False),
        Index('idx_currency_name', 'name', unique=True),
    )
    population = Table(
        'population', metadata,
        Column('rank', Integer, primary_key=True),
        Column('country', String(255), nullable=False),
        Column('2022_pop', Integer),
        Column('growth_rate', DECIMAL(5,4)),
        Column('world_perc', DECIMAL(4,2)),
    )
    countries = Table(
        'countries', metadata,
        Column('id', Integer, primary_key=True),
        Column('name', String(100), nullable=False),
        Column('population_rank', Integer, ForeignKey('population.rank')),
        Column('currency', String(100), ForeignKey('currency.name')),
        Column('latitude', DECIMAL(13, 10)),
        Column('longitude', DECIMAL(13, 10)),
        
    )
    states = Table(
        'states', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('name', String(255), nullable=False),
        Column('country', Integer, ForeignKey('countries.id')),
    )
    cities = Table(
        'cities', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('name', String(255), nullable=False),
        Column('state', Integer, ForeignKey('states.id'), nullable=False),
        Column('country', Integer, ForeignKey('countries.id'), nullable=False),
        Column('latitude', DECIMAL(13, 10)),
        Column('longitude', DECIMAL(13, 10)),
    )
except:
    print("Something went wrong with the construction of the tables. please ensure your syntax is correct and that you have the necessary parts imported")

#adds the tables to the database
metadata.create_all(engine)
engine.dispose()

In [265]:
#Retrieve data from csv file for currency table and population table
try:
    mysql_url = 'mysql://root:26750@localhost:3306/ds_project'
    engine = create_engine(mysql_url)
except:
    print("something went wrong, ensure your sql url is correct")

try:
    #path to csv file
    csv1 = './Desktop/ds project/currency.csv'
    csv2 = './Desktop/ds project/world_population.csv'
    #creating data frame through pandas and then appending to the table in the schema
    df1 = pd.read_csv(csv1)
    df2 = pd.read_csv(csv2)
except:
    print("something went wrong, ensure your file paths are correct and that the name is correct")

try:
    #removing unnecessary columns
    df1.drop(columns=['symbol'], inplace=True)
    df2.drop(columns=['CCA3'], inplace=True)
    
    #renaming columns to align with the names in the database
    df2.rename(columns={'2022 Population':'2022_pop','Rank':'rank','Country':'country','Growth Rate':'growth_rate','World Population Percentage':'world_perc'}, inplace=True)

    #adding to the tables in the project database
    df1.to_sql('currency', con=engine, if_exists='append', index=False)
    df2.to_sql('population', con=engine, if_exists='append', index=False)
except:
    print("something went wrong, ensure your column/table names exist and or are correctly named")

engine.dispose()

In [266]:
try:
    #connect to the world database that is locally hosted
    mysql_url = 'mysql://root:26750@localhost:3306/world'
    engine = create_engine(mysql_url)
except:
    print("something went wrong, ensure your sql url is correct")

try:
    data_countries= "SELECT name, currency_name FROM countries"
    df_c = pd.read_sql(data_countries, engine)
except:
    print("ensure that the table name and the column names are correct")
    
engine.dispose()

#grab the population table in my database
try:
    mysql_url2 = 'mysql://root:26750@localhost:3306/ds_project'
    engine2 = create_engine(mysql_url2)
except:
    print("ensure your sql url is correct")

try:
    data_population = "SELECT `rank`, `country` FROM `population`"
    df_p = pd.read_sql(data_population, engine2)
except:
    print("ensure that the table name and the column names are correct")
    
engine2.dispose()

#merge the two based on the country name
try:
    merge_df = pd.merge(df_c, df_p, left_on='name', right_on='country', how='left')
    merge_df.drop(columns=['country'], inplace=True)
    merge_df.rename(columns={'rank': 'population_rank','currency_name': 'currency'}, inplace=True)
except:
    print("ensure that you selected the correct dataframes, joined by the right columns, and renamed the appropriate columns")

In [275]:
#defining an api response function
def get_api_response(url, response_type):
    try:
        response = requests.get(url)
        response.raise_for_status()

    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)

    if response_type == 'json':
        result = json.dumps(response.json(), sort_keys=True, indent=4)
    elif response_type == 'dataframe':
        result = pd.json_normalize(response.json())
    else:
        result = "An unhandled error has occurred!"

    return result

#creates json file to write the information
f = open('./Desktop/ds project/countries.json', mode="w")
json.dump([], f)
f.close()

coords = []

try:
    #finds the longtitude and latitude of countries that exist in the csv data sources
    
    #WARNING: THIS FOR LOOP TAKES A WHILE PLEASE BE PATIENT !!!!! !!!!!! !!!!!!!! !!!!
    for index, row in merge_df.iterrows():
        country = row['name']
        url = 'https://restcountries.com/v3.1/name/{name}'.format(name=country)
        df = get_api_response(url, 'dataframe')
        if isinstance(df, pd.DataFrame) and not df.empty:
            latlng = df.iloc[0]['latlng']
            lat = latlng[0]
            long = latlng[1]
            coords_dict = {
                'name': country,
                'latitude': lat,
                'longitude': long
            }
        coords.append(coords_dict)
except:
    print("something went wrong as we iterated through the api call given the country names. please check your url as well as that you indexed the information correctly")
    
#writes them into the json file
with open('./Desktop/ds project/countries.json', mode="w") as f:
    json.dump(coords, f)

In [268]:
#merging the different dataframes together
coords_df = pd.read_json('./Desktop/ds project/countries.json')
merge2_df = pd.merge(merge_df, coords_df, on="name", how='inner')

In [269]:
#populate the countries table in my database with the merged dataframe and the json file collected from REST Countries API
try:
    mysql_url = 'mysql://root:26750@localhost:3306/ds_project'
    engine = create_engine(mysql_url)
except:
    print("ensure your url is correct")
    
merge2_df.to_sql('countries', con=engine, if_exists='append', index=False)
engine.dispose()

In [270]:
#Retrieve data from csv files for states table
try:
    mysql_url = 'mysql://root:26750@localhost:3306/ds_project'
    engine = create_engine(mysql_url)
except:
    print("something went wrong, ensure your sql url is correct")

try:
    #path to csv file
    csv1 = './Desktop/ds project/states.csv'
    #creating data frame through pandas and then appending to the table in the schema
    df1 = pd.read_csv(csv1)

    #grabbing data from countries in project's database
    data_countries= "SELECT name, id FROM countries"
    df_c = pd.read_sql(data_countries, engine)

except:
    print("something went wrong, ensure your file paths are correct and that the name is correct")
try:
    #removing unnecessary columns
    df1.drop(columns=['id','country_id','country_code','state_code','type','latitude','longitude'], inplace=True)

    #merge the informations from two tables together
    merge_states_df = pd.merge(df_c, df1, left_on='name', right_on='country_name', how='inner')
    merge_states_df.drop(columns=['country_name', 'name_x'], inplace=True)
    merge_states_df.rename(columns={'id':'country', 'name_y':'name'}, inplace=True)
    merge_states_df.to_sql('states', con=engine, if_exists='append', index=False)
except:
    print("something went wrong, ensure your column/table names exist and or are correctly named")

engine.dispose()

In [271]:
#Retrieve data from csv files for cities table
try:
    mysql_url = 'mysql://root:26750@localhost:3306/ds_project'
    engine = create_engine(mysql_url)
except:
    print("something went wrong, ensure your sql url is correct")

try:
    #path to csv file
    csv1 = './Desktop/ds project/cities.csv'
    #creating data frame through pandas and then appending to the table in the schema
    df1 = pd.read_csv(csv1)

    #grabbing data from states in project's database
    data_states= "SELECT name, id, country FROM states"
    df_s = pd.read_sql(data_states, engine)

except:
    print("something went wrong, ensure your file paths are correct and that the name is correct")
try:
    #removing unnecessary columns
    df1.drop(columns=['state_id', 'state_code', 'country_id', 'wikiDataId', 'country_code', 'id'], inplace=True)
    
    #merge the informations from two tables together
    merge_cities_df = pd.merge(df_s, df1, left_on='name', right_on='state_name', how='inner')
    merge_cities_df.drop(columns=['country_name', 'name_x', 'state_name'], inplace=True)
    merge_cities_df.rename(columns={'id':'state', 'name_y':'name'}, inplace=True)
    merge_cities_df.dropna(inplace=True)
    merge_cities_df.to_sql('cities', con=engine, if_exists='append', index=False)
except:
    print("something went wrong, ensure your column/table names exist and or are correctly named")

engine.dispose()

In [273]:
try:
    mysql_url = 'mysql://root:26750@localhost:3306/ds_project'
    engine = create_engine(mysql_url)
except:
    print("something went wrong, ensure your sql url is correct")

try:
    #the query for finding the number of cities in each state in each country
    three_tables = """
    SELECT c.name AS country_name, s.name AS state_name, COUNT(ci.id) AS number_of_cities_in_state
    FROM countries c
    JOIN states s ON c.id = s.country
    LEFT JOIN cities ci ON s.id = ci.state
    GROUP BY c.name, s.name;
    """
    #read in the sql data
    df_aggregated = pd.read_sql(three_tables, engine)
    print(df_aggregated)
except:
    print("ensure that the table name and the column names are correct")

     country_name                   state_name  number_of_cities_in_state
0     Afghanistan                   Badakhshan                         12
1     Afghanistan                      Badghis                          4
2     Afghanistan                      Baghlan                          8
3     Afghanistan                        Balkh                         12
4     Afghanistan                       Bamyan                          4
...           ...                          ...                        ...
4973       Kosovo  Kosovska Mitrovica District                          0
4974       Kosovo                 Peć District                          0
4975       Kosovo          Pristina (Priştine)                          0
4976       Kosovo             Prizren District                          0
4977       Kosovo  Uroševac District (Ferizaj)                          0

[4978 rows x 3 columns]